<h1 id="header"><%= @dish.name %></h1>

<section id="dish_info">
  <h2>Dish Details</h2>
  <p>Description: <%= @dish.description %></p>
  <p>Total Calories: <%= @dish.total_calories %></p>
</section>  

<section id="dish_ingredients">
  <h2>Ingredients</h2>
  <ul>
    <% @dish.ingredients.each do |ingredient| %>
      <li><%= ingredient.name %></li>
    <% end %>
  </ul>
</section>

<section id="add_ingredient">
<h2>Add an Ingredient</h2>
  <%= form_with url: "/dishes/#{@dish.id}", method: :post do |f| %>
    <%= f.label :ingredient_id %>
    <%= f.text_field :ingredient_id %>
    <%= f.submit "Add Ingredient" %>
  <% end %>
</section>

<section id="prepared_by">
  <h2>Prepared By</h2>
  Chef: <%= @dish.chef_name %>
</section>